/* ==================================== */
/* スタイルシート                       */
/* ==================================== */


/* タグ毎の指定 */
body {
	background-color: #DDEEFF;
}

h2 {
	background-color: #0000DD;
	color: #FFFFFF;
	padding-left: 1em;
}

h3 {
	background-color: #0000DD;
	color: #FFFFFF;
	padding-left: 1em;
}

/* タグ、クラスでの指定 */
div.msg {
	border-top: 2px groove #c0c0c0;
}

p.day {
	color: #808080;
	font-size: small;
}

/* クラスでの指定 */
.required {
	background-color: #FF3333;
	color: #FFFFFF;
	margin-left: 1em;
}

.error {
	color: #FF3333;
}

/* ページングの書式設定 */
.paging {
	text-align: center;
	width: 80%;
}
.paging li {
	width: 200px;
	display: inline-block;
	text-align: center;
	border:1px solid blue;
}
.paging li a {
	display: block;
}
